.full-page {
  height: 100vh;
}

.main-logo {
  width: auto;
  height: 81px;

  @include responsive(mobile) {
    height: 60px;
  }
}

.home-page, .not-found-page {
  position: relative;

  &.primary-gradient {
    background-color: #fc6f6f; /* For browsers that do not support gradients */
    background: linear-gradient(#fc6f6f, #fa7f92);
  }

  .center-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 1rem;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

    h1 {
      font-size: 1.375rem;
      margin-top: 0.8rem;
      margin-bottom: 0;
      color: #fff;
      letter-spacing: 1px;

      @include responsive(mobile) {
        font-size: 1.1rem;
      }
    }

    h2 {
      margin-top: 7rem;
      margin-bottom: 14rem;
      font-size: 2.375rem;
      font-weight: normal;

      @include responsive(mobile) {
        font-size: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 6rem;
      }
    }

    // override .ant-btn
    .ant-btn {
      font-size: 0.875rem;

      &:hover, &:focus, &:active, &.active {
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.not-found-page {
  .center-content {
    h1 {
      font-size: 1.6875rem;
    }
  }
}

.padded-page {
  padding: 105px 0;
  overflow: hidden;
  text-align: center;

  @include responsive(mobile) {
    padding: 80px 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  p, a {
    font-weight: 300;
  }
}

.split-page {
  max-width: 310px;
  text-align: left;
  display: inline-block;
  font-size: 0.875rem;

  @include responsive(mobile) {
    max-width: 84%;
  }

  h2 {
    color: $primary;
  }

  p {
    color: $text_dark;
  }

  a {
    text-decoration: none !important;
  }

  .check-hall-of-fame {
    @include responsive(mobile) {
      margin-bottom: 2rem;
      display: block;
    }
  }
}

.primary-gradient {
  h2 {
    color: #fff;
  }
}

.grey-background {
  background-color: #f6f6f6;

  h2, h3 {
    color: $primary;
  }
}

.columned-page {
  text-align: center;
  padding: 3rem;
  font-size: 0.8125rem;
  color: #9b9b9b;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
  }

  img {
    width: 27px;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  p {
    padding: 0 2rem;
  }
}

.card-page {
  h2 {
    margin-bottom: 4rem;
  }
  .card-container {
    display: flex;
    justify-content: space-evenly;

    @include responsive(mobile) {
      display: inherit;
    }

    .card {
      background-color: #fff;
      border-radius: 10px;
      width: 37%;
      text-align: left;
      color: #9b9b9b;
      font-size: 0.875rem;
      padding: 1rem 2rem;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);

      @include responsive(mobile) {
        width: 80%;
        margin: 0 auto;

        &:first-child {
          margin-bottom: 2rem;
        }
      }

      h3 {
        font-size: 1.5rem;
      }

      img {
        vertical-align: baseline;
        margin-left: 0.4rem;

        &.steem-token {
          height: 22px;
        }

        &.hunt-token {
          height: 21px;
        }
      }

      a {
        display: block;
        margin-top: 1rem;
      }
    }
  }
}

.page-3 {
  color: #fff;

  h2 {
    margin-bottom: 60px;
  }

  .howto {
    max-width: 300px;
    margin: 20px auto;

    .circle {
      display: inline-block;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 40px;
      font-size: 1.875rem;
      box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px 0 rgba(0,0,0,0.20);

      .hunt-token-logo {
        height: 38px;
      }
    }

    h4 {
      color: #fff;
      font-size: 1.125rem;
      margin: 1.5rem 0 0.75rem 0;
    }

    p {
      font-size: 0.875rem;
    }
  }

  .splitter {
    font-size: 1.25rem;
    margin: 1.5rem 0;
    opacity: 0.9;
  }
}

.side-image {
  margin-left: 40px;
  display: inline-block;
  vertical-align: bottom;

  @include responsive(mobile) {
    margin-left: 0;
  }

  &.cat {
    width: 201px;
    height: 282px;
  }

  &.producthunt {
    width: 197px;
    height: 181px;
    margin-bottom: 30px;
  }
}

.page-last {
  height: 90vh;
  position: relative;

  @include responsive(mobile) {
    height: 100vh;
  }

  .left-container {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 110;
    text-align: left;

    @include responsive(ipadpro) {
      top: 60px;
      left: 60px;
    }

    @include responsive(mobile) {
      top: 40px;
      left: 40px;
    }

    h2 {
      font-size: 2rem;
      line-height: 1.4;
      margin: 2.5rem 0;
      font-weight: normal;

      @include responsive(mobile) {
        font-size: 1.8rem;
      }

      @include responsive(tiny) {
        font-size: 1.5rem;
      }
    }

    .post-button {
      display: inline-block;
      border: 1px solid #fff;
      color: #fff;
    }
  }

  .bg-image {
    z-index: 101;
    height: 96vh;
    position: absolute;
    left: 76%;
    transform: translateX(-50%);
    bottom: 5%;

    @include responsive(ipadpro) {
      height: 90vh;
    }

    @include responsive(mobile) {
      height: 82vh;
    }

    @include responsive(tiny) {
      height: 65vh;
    }
  }

  .footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 110;
    width: 100%;
    text-align: center;

    a {
      font-size: 0.75rem;
      color: #fff !important;
    }
  }
}

