.profile {
  .top-container {
    text-shadow: 1px 1px 1px #999;

    h1 {
      margin-top: 80px;
    }

    .edit-buttons {
      position: absolute;
      top: 30px;
      right: 30px;

      button {
        margin-left: 5px;
      }
    }

    .follow-button {
      background-color: rgba(255, 255, 255, 0.9) !important;
      color: #000 !important;
      box-shadow: 0px 0px 4px #ccc;

      &:disabled, &[disabled] {
        color: $disabled_grey !important;
      }
    }
  }

  .bottom-container {
    .profile-picture {
      margin: -110px auto 20px auto;
      border-radius: 50%;
      overflow: hidden;
      width: 140px;
      height: 140px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px 0 rgba(0,0,0,0.20);
    }

    .profile-level {
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: $primary;
        margin-top: 1.5em;
        margin-bottom: 0;

        .fake-link {
          margin-left: 0.4em;
          vertical-align: -0.01em;
        }
      }

      .level-bar {
        width: 300px;
        margin-top: 10px;

        .score {
          color: $primary;
          margin-bottom: 0.3em;
        }

        .score-sub {
          font-size: 0.875rem;
        }
      }
    }

    .other-info {
      color: $text_dark;
      font-size: 0.875rem;
      margin-top: 0.5rem;
      line-height: 1.5;

      a, a:visited, a:active {
        color: $text_dark;
        text-decoration: none;
      }
    }
  }
}